//
// Config.base.xcconfig
//  Xcode > Build Settings, read .xcconfig
//
// Created by Takahiro Tsuchiya on 2020/04/20.
// Copyright (c) 2020 Takahiro Tsuchiya. All rights reserved.
//

MARKETING_VERSION = 0.0.01

// set only first time
ENABLE_PREVIEWS = YES
TARGETED_DEVICE_FAMILY = 1 // 1 : iPhone, 2 : iPad

// Common settings and Override

DEVELOPMENT_ASSET_PATHS = 'App/Preview\ Content'
INFOPLIST_FILE = App/Info.plist // TODO override
PRODUCT_BUNDLE_IDENTIFIER = com.sample.SampleApplication-iOS // TODO
PRODUCT_NAME = $(PRODUCT_NAME)	// TODO

// IN THIS PARAM use here,
// PRODUCT_NAME = $(PRODUCT_NAME)-$(VERSION_INFO_PREFIX)
VERSION_INFO_PREFIX = $(VERSION_INFO_PREFIX)
// IN THIS PARAM use here,
// ASSETCATALOG_COMPILER_APPICON_NAME = $(VERSION_INFO_SUFFIX)$(ASSETCATALOG_COMPILER_APPICON_NAME)
VERSION_INFO_SUFFIX = $(VERSION_INFO_SUFFIX)

// there default settings
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = Automatic
// TODO why not? write bad settings
// ASSETCATALOG_COMPILER_APPICON_NAME = $(VERSION_INFO_SUFFIX)$(ASSETCATALOG_COMPILER_APPICON_NAME)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ALWAYS_SEARCH_USER_PATHS = NO

// add Firebase
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS) -ObjC
