//
//  Config.Base.xcconfig
//  Xcode > Build Settings, read .xcconfig
//
// Created by Takahiro Tsuchiya on 2020/04/20.
// Copyright (c) 2020 Takahiro Tsuchiya. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Base
ENABLE_PREVIEWS = YES

//:configuration = Common settings and Override
DEVELOPMENT_ASSET_PATHS = 'App/Preview\ Content'
TARGETED_DEVICE_FAMILY = 1 // 1 : iPhone, 2 : iPad
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
INFOPLIST_FILE = App/Info.plist // TODO override
PRODUCT_BUNDLE_IDENTIFIER = com.sample.SampleApplication-iOS // TODO
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_STYLE = Automatic
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DEVELOPMENT_TEAM = Automatic
MARKETING_VERSION = 0.0.01
// SWIFT_VERSION = 5.2 // project.yml
// CURRENT_PROJECT_VERSION // project.yml
// VERSION_INFO_PREFIX
// VERSION_INFO_SUFFIX
// VERSION_INFO_FILE
// INFOPLIST_FILE
// INFOPLIST_PREFIX_HEADER

// add Firebase
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -ObjC
